@CHARSET "ISO-8859-1";

table, td{
	/*border: 1px solid black;*/
}

td {
	padding: 3px;
}

form{
	margin: 10px 0px;
}

.titleStyle{
	font-size: 18px;	
}

.selectRadio {
	border-width: 0px;			 	
}

.superVisorTable {
	border: 1px solid silver;
}

.displayAssignmentsTable {
	border: 1px solid silver;
}

.displayAttachmentStyle {
	padding: 2px;	
}

.selectBoolean {	
	vertical-align: middle;	
}

.selectInputDate {
    margin: 15px 15px 0 0;
    padding: 5px;
    background: #FFF;
    border: 2px solid #d9d9d9;
    display: block;
    float:left;
}