<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="config-props" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="ignoreResourceNotFound" value="true"/>
		<property name="locations">
			<list>
				<value>file:${user.home}/ws-abam.properties</value>
				<value>file:${catalina.base}/conf/ws-abam.properties</value>
			</list>
		</property>
	</bean>
		
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="properties" ref="config-props"/>
	</bean>
	
	<import resource="classpath:idm-ws/beans.xml"/>
	<import resource="classpath:department-beans.xml"/>
	
	<bean id="abamService" class="no.uis.abam.ws_abam.AbamWebServiceTestImpl">
		<property name="idmService" ref="idmWS"/>
		<property name="departmentDao" ref="departmentDAO"/>
		<property name="employeeDao">
			<bean class="no.uis.abam.dao.EmployeeDAOImpl">
				<property name="idmService" ref="idmWS"/>
			</bean>
		</property>
	</bean>
	
</beans>
